<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                REGISTRO
            </div>
            <div class="card-body">
                <form (submit)="singUp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.cedula" name="cedula" class="form-control" placeholder="Cedula" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="user.ingreso" name="ingreso" class="form-control" placeholder="Ingreso" required>
                    </div>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="user.egreso" name="egreso" class="form-control" placeholder="Egreso" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
  </div>